<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sexiong306.unautoinitialdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- bugly必须的权限： -->

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络通信 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取MAC地址 -->


    <!-- bugly可选的权限： -->

    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".UpgradeActivity"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>